# Sentiment Analysis on NBA top playersâ€™ Twitter Account

Original code from Yen-Chen Chou: 

https://towardsdatascience.com/do-tweets-from-nba-leading-players-have-correlations-with-their-performance-7358c79aa216

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import data_collection

In [3]:
api = data_collection.login_into_twitter()

In [4]:
players = data_collection.get_best_players()

In [5]:
players

['Damian Lillard',
 'Joel Embiid',
 'Kawhi Leonard',
 'Russell Westbrook',
 'Anthony Davis',
 'Giannis Antetokounmpo',
 'Kevin Durant',
 'James Harden',
 'Stephen Curry',
 'LeBron James']

In [6]:
url_player_stats = data_collection.get_url_player_stats()

In [9]:
stats = data_collection.generate_all_player_stats(url_player_stats)

In [12]:
stats[0].head()

         Date Result  FG  FGA  FG3    eFG
81 2016-04-13      L   7   14    1  0.536
80 2016-04-11      L   5    7    1  0.786
79 2016-04-10      W   4   15    1  0.300
78 2016-04-08      L   8   12    4  0.833
77 2016-04-05      L  10   18    2  0.611

In [14]:
final_tw_account = data_collection.get_twitter_accounts(players)

In [15]:
final_tw_account

{'Giannis Antetokounmpo': 'Giannis_An34',
 'Stephen Curry': 'StephenCurry30',
 'Anthony Davis': 'AntDavis23',
 'Kevin Durant': 'KDTrey5',
 'Joel Embiid': 'JoelEmbiid',
 'James Harden': 'JHarden13',
 'LeBron James': 'KingJames',
 'Kawhi Leonard': 'kawhileonard',
 'Damian Lillard': 'Dame_Lillard',
 'Russell Westbrook': 'russwest44'}

In [17]:
tweets_df = data_collection.get_all_tweet(api, final_tw_account)