# Sentiment Analysis on NBA top playersâ€™ Twitter Account

Original code from Yen-Chen Chou: 

https://towardsdatascience.com/do-tweets-from-nba-leading-players-have-correlations-with-their-performance-7358c79aa216

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import data_collection

In [3]:
api = data_collection.login_into_twitter()

In [4]:
players = data_collection.get_best_players()

In [5]:
players

['Damian Lillard',
 'Joel Embiid',
 'Kawhi Leonard',
 'Russell Westbrook',
 'Anthony Davis',
 'Giannis Antetokounmpo',
 'Kevin Durant',
 'James Harden',
 'Stephen Curry',
 'LeBron James']

In [6]:
url_player_stats = data_collection.get_url_player_stats()

In [9]:
stats = data_collection.generate_all_player_stats(url_player_stats)

In [11]:
stats[0]

         Date Result  FG  FGA  FG3    eFG
81 2016-04-13      L   7   14    1  0.536
80 2016-04-11      L   5    7    1  0.786
79 2016-04-10      W   4   15    1  0.300
78 2016-04-08      L   8   12    4  0.833
77 2016-04-05      L  10   18    2  0.611
76 2016-04-03      L  14   22    1  0.659
75 2016-04-01      W   5   13    0  0.385
74 2016-03-30      W   3    5    1  0.700
73 2016-03-26      L   3    9    0  0.333
72 2016-03-25      L   5   14    0  0.357
71 2016-03-23      L  11   19    0  0.579
70 2016-03-21      L  10   17    1  0.618
69 2016-03-20      L   5   10    0  0.500
68 2016-03-17      W   6    9    0  0.667
67 2016-03-15      L   6   12    0  0.500
66 2016-03-13      W  12   16    0  0.750
65 2016-03-12      W   6   15    0  0.400
64 2016-03-09      W   9   15    0  0.600
63 2016-03-07      L   5   13    0  0.385
62 2016-03-06      L   8   20    0  0.400
61 2016-03-04      W   9   17    0  0.529
60 2016-03-02      L   7   16    0  0.438
59 2016-02-29      W   7   13    0  0.538
58 2016-02-27      L   3   11    0  0.273
57 2016-02-25      L   6   12    0  0.500
56 2016-02-22      W  12   17    0  0.706
55 2016-02-20      W   8   17    0  0.471
54 2016-02-19      L   7   17    0  0.412
53 2016-02-11      W   6   16    1  0.406
52 2016-02-09      W   6   12    0  0.500
..        ...    ...  ..  ...  ...    ...
31 2015-12-28      L   4   10    0  0.400
30 2015-12-26      L   2    5    0  0.400
29 2015-12-23      W  11   13    0  0.846
27 2015-12-18      L   9   17    0  0.529
26 2015-12-16      L   4   12    1  0.375
25 2015-12-15      L   6   11    0  0.545
24 2015-12-12      W   4   10    1  0.450
23 2015-12-11      L   7   12    0  0.583
22 2015-12-09      L   5   11    0  0.455
21 2015-12-07      W   5   10    0  0.500
20 2015-12-05      W   6   15    0  0.400
19 2015-12-04      L   5   11    0  0.455
18 2015-12-02      L   2    8    0  0.250
17 2015-11-30      W   3   10    0  0.300
16 2015-11-29      L   4    5    0  0.800
15 2015-11-27      L   7   10    0  0.700
14 2015-11-25      L   7   13    1  0.577
13 2015-11-23      W   6   10    1  0.650
12 2015-11-21      L   3    8    0  0.375
11 2015-11-19      L  12   15    1  0.833
10 2015-11-17      L   3   13    0  0.231
9  2015-11-14      W   6   18    0  0.333
8  2015-11-11      L   6   12    0  0.500
7  2015-11-10      L   6   13    1  0.500
6  2015-11-07      W   4    8    1  0.562
5  2015-11-06      W   7   13    0  0.538
4  2015-11-04      W   7   11    1  0.682
3  2015-11-02      W   8   16    1  0.531
2  2015-11-01      L   8   12    1  0.708
1  2015-10-30      L   9   15    1  0.633

[80 rows x 6 columns]