# Selección

Playing with the new stats format in acb.com (launched in October 2019)

In [1]:
import pandas as pd

In [2]:
season = 2022
urls = [
    'http://www.acb.com/estadisticas-individuales/{}/temporada_id/{}/tipo_id/0'.format(x, season)
    for x in 
    [
        'valoracion', 
        'puntos', 
        'rebotes', 
        'asistencias', 
        'robos', 'tapones', 
        'mas-menos', 
        'minutos', 
        'tiros3', 
        'tiros3-porciento',
        'tiros2', 
        'tiros2-porciento',
        'tiros1', 
        'tiros1-porciento',
        'rebotes-defensivos',
        'rebotes-ofensivos',
        'faltas-recibidas',
        'faltas-cometidas',
        'mates'
    ]
]

In [3]:
data = pd.concat([pd.read_html(url)[0].iloc[:, 1:] for url in urls], axis=0).drop_duplicates()

In [4]:
data.columns = [
    'name', 'games', 'minutes', 'points',
    '3p_converted', '3p_attempted', '3p_percentage',
    '2p_converted', '2p_attempted', '2p_percentage',
    '1p_converted', '1p_attempted', '1p_percentage',
    'offensive_rebounds', 'deffensive_rebounds', 'rebounds',
    'assists', 'steals', 'turnovers',
    'blocks', 'received_blocks',
    'dunks', 'faults', 'received_faults',
    'plus_minus', 'pir'
]
data = data.set_index('name')

In [5]:
data.describe()

,games,minutes,points,3p_converted,3p_attempted,2p_converted,2p_attempted,1p_converted,1p_attempted,offensive_rebounds,...,assists,steals,turnovers,blocks,received_blocks,dunks,faults,received_faults,plus_minus,pir
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,...,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000
mean,10.372093,195.655814,81.018605,8.976744,25.269767,19.874419,37.604651,14.339535,19.097674,9.153488,...,16.469767,7.120930,12.813953,2.669767,2.488372,2.520930,19.762791,20.120930,2.823256,85.148837
std,3.242700,87.296801,47.370676,8.530562,21.234819,14.069190,25.410407,11.175368,14.429809,7.709060,...,16.504255,4.865891,8.121898,3.850934,2.248282,3.682274,9.357615,13.625302,47.612694,54.361168
min,1.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-121.000000,-1.000000
25%,9.000000,139.000000,47.000000,2.000000,6.000000,9.000000,19.000000,6.000000,8.000000,3.000000,...,5.000000,4.000000,7.000000,0.000000,1.000000,0.000000,13.000000,9.500000,-29.500000,46.000000
50%,12.000000,209.000000,76.000000,7.000000,22.000000,18.000000,34.000000,12.000000,16.000000,7.000000,...,11.000000,7.000000,12.000000,1.000000,2.000000,1.000000,20.000000,18.000000,-4.000000,78.000000
75%,12.500000,255.000000,111.500000,14.000000,38.000000,28.000000,53.000000,21.000000,28.500000,14.000000,...,21.000000,10.000000,18.000000,4.000000,4.000000,4.000000,26.000000,29.000000,39.500000,121.000000
max,13.000000,359.000000,219.000000,39.000000,101.000000,72.000000,126.000000,50.000000,67.000000,37.000000,...,93.000000,23.000000,37.000000,23.000000,13.000000,19.000000,40.000000,63.000000,127.000000,236.000000

## PIR and plus-minus

In [6]:
d2 = data[['pir', 'plus_minus']].sum(axis=1).sort_values(ascending=False)

In [10]:
d2.drop(['Rokas Giedraitis', 'Cory Higgins', 
        'Ante Tomic', 'Vincent Poirier', 'Dzanan Musa', 'Guerschon Yabusele',
        'Edy Tavares', 'Bruno Fitipaldo',
        'Jovan Novak', 'Bojan Dubljevic', 'Tim Abromaitis', 
        'Augusto Lima', 'Matt Costello', 'James Webb III',
        'Dino Radoncic', 'Sasu Salin',
        'Thad McFadden', 'Artem Pustovyi',
        'Marcelinho Huertas', 'Rokas Jokubaitis',
        'Steven Enoch', 'Tyler Kalinoski', 'Nico Laprovittola', 
        'Adam Waczynski', 'Alex Renfroe', 
         'Giorgi Shermadini', 
        'Nico Brussino', 
        'Sadiel Rojas', 'Jordan Davis',
        'John Shurna',
        'Tryggvi Hlinason', 'Henry Ellenson', 'Zsombor Maronka', 
        'Tadas Sedekerskis', 'Andrew Albicy', 
        'Thomas Scrubb', 'Khalifa Diop', 
        'Clevin Hannah', 
         'Nemanja Radovic', 'AJ Slaughter', 'Aaron Doornekamp', 
        'Dusan Ristic',  
         'Ludde Hakanson', 'Babatunde Olumuyiwa',
        'Klemen Prepelic', 'Sam Van Rossom', 'Jasiel Rivero',
         'Kyle Alexander', 'Marko Lukovic',
         'Simon Birgander','Jeff Withey', 'Damien Inglis', 
        'Shannon Evans',
         'Vitor Benite','Gabriel Deck',
         'Juampi Vaulet', 'Nihad Djedovic', 'Ethan Happ', 'Chris Jones', 'Scott Bamforth',
         'Jan Vesely', 'Dylan Osetkowski', 'Travis Trice', 'Nikola Kalinic', 'Olek Balcerowski',
         'Dragan Bender', 'Tomas Satoransky', 'Mario Hezonja', 'Elgin Cook', 'Toni Nakic', 
         'Darius Thompson', 'Petit Niang', 'Kendrick Perry', 'David Kravish', 'Sertac Sanli',
         'Melvin Ejim', 'Moussa Diagne', 'Oscar Da Silva', 'Tyson Carter', 'Maik Kotsar', 
         'Daulton Hommes', 'Petr Cornelie', 'Kameron Taylor', 'Christian Mekowulu', 'Marek Blazevic',
         'Howard Sant-Roos', 'Luke Maye', 'Cristiano Felicio', 'Jared Harper', 'Phil Scrubb',
         'Markus Howard', 'Nemanja Nenadic', 'Jerrick Harding', 'Justus Hollatz', 'Andres Feliz',
         'Kyle Guy', 'Dusan Miletic', 'Lasan Kromah', 'Pierria Henry', 'James Nnaji', 'Bassala Bagayoko',
         'Arturs Kurucs', 'Fabien Causeur', 'Michale Kyser', 'Christian Eyenga',
         'Justinian Jessup', 'Georgios Tsalmpouris', 'Vanja Marinkovic', 'Thomas Bropleh',
         'Adam Smith', 'Will Thomas', 'Nigel Williams-Goss', 'Denzel Andersson', 'Borisa Simanic'
        ]).head(24)

name
Marc Gasol              217
Joel Parra              204
Miquel Salvó            204
Jaime Fernández         185
Alberto Díaz            157
Ferran Bassas           153
Sergio Llull            153
Darío Brizuela          137
Sergi García            124
Pau Ribas               121
Xavi Rabaseda           121
Guillem Vives           121
Santi Yusta             107
Oriol Paulí             101
Víctor Arteaga           96
Xabi López-Arostegui     96
Emir Sulejmanovic        88
Sergio Rodríguez         88
Jaime Pradilla           84
Fran Guerra              83
Quino Colom              81
Sergi Quintela           79
Josep Puerto             67
Joan Sastre              66
dtype: int64

## Selección

B Ricky Rubio
BE Alberto Díaz
EB Lorenzo Brown
E Jaime Fernández
EA Xavi Rabaseda
AE 
A Joel Parra 
AAP Miquel Salvó
APA Santi Yusta
AP Juancho Hernangómez
APP Aldama
PAP Garuba
P Willy Hernangómez

B Ricky Rubio
BE Lorenzo Brown
EB Sergio Llull
E Jaime Fernández
EA Álex Abrines
AE 
A Joel Parra
AAP Miquel Salvó
APA Víctor Claver
AP Juancho Hernangómez
APP Aldama
PAP Garuba
P Willy Hernangómez