# New stats format in acb.com

Playing with the new stats format in acb.com (launched in October 2019)

In [1]:
import pandas as pd

In [2]:
season = 2022
urls = [
    'http://www.acb.com/estadisticas-individuales/{}/temporada_id/{}/tipo_id/0'.format(x, season)
    for x in 
    [
        'valoracion', 
        'puntos', 
        'rebotes', 
        'asistencias', 
        'robos', 'tapones', 
        'mas-menos', 
        'minutos', 
        'tiros3', 
        'tiros3-porciento',
        'tiros2', 
        'tiros2-porciento',
        'tiros1', 
        'tiros1-porciento',
        'rebotes-defensivos',
        'rebotes-ofensivos',
        'faltas-recibidas',
        'faltas-cometidas',
        'mates'
    ]
]

In [3]:
data = pd.concat([pd.read_html(url)[0].iloc[:, 1:] for url in urls], axis=0).drop_duplicates()

In [4]:
data.columns = [
    'name', 'games', 'minutes', 'points',
    '3p_converted', '3p_attempted', '3p_percentage',
    '2p_converted', '2p_attempted', '2p_percentage',
    '1p_converted', '1p_attempted', '1p_percentage',
    'offensive_rebounds', 'deffensive_rebounds', 'rebounds',
    'assists', 'steals', 'turnovers',
    'blocks', 'received_blocks',
    'dunks', 'faults', 'received_faults',
    'plus_minus', 'pir'
]
data = data.set_index('name')

In [5]:
data.describe()

,games,minutes,points,3p_converted,3p_attempted,2p_converted,2p_attempted,1p_converted,1p_attempted,offensive_rebounds,...,assists,steals,turnovers,blocks,received_blocks,dunks,faults,received_faults,plus_minus,pir
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,...,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000
mean,10.372093,195.655814,81.018605,8.976744,25.269767,19.874419,37.604651,14.339535,19.097674,9.153488,...,16.469767,7.120930,12.813953,2.669767,2.488372,2.520930,19.762791,20.120930,2.823256,85.148837
std,3.242700,87.296801,47.370676,8.530562,21.234819,14.069190,25.410407,11.175368,14.429809,7.709060,...,16.504255,4.865891,8.121898,3.850934,2.248282,3.682274,9.357615,13.625302,47.612694,54.361168
min,1.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-121.000000,-1.000000
25%,9.000000,139.000000,47.000000,2.000000,6.000000,9.000000,19.000000,6.000000,8.000000,3.000000,...,5.000000,4.000000,7.000000,0.000000,1.000000,0.000000,13.000000,9.500000,-29.500000,46.000000
50%,12.000000,209.000000,76.000000,7.000000,22.000000,18.000000,34.000000,12.000000,16.000000,7.000000,...,11.000000,7.000000,12.000000,1.000000,2.000000,1.000000,20.000000,18.000000,-4.000000,78.000000
75%,12.500000,255.000000,111.500000,14.000000,38.000000,28.000000,53.000000,21.000000,28.500000,14.000000,...,21.000000,10.000000,18.000000,4.000000,4.000000,4.000000,26.000000,29.000000,39.500000,121.000000
max,13.000000,359.000000,219.000000,39.000000,101.000000,72.000000,126.000000,50.000000,67.000000,37.000000,...,93.000000,23.000000,37.000000,23.000000,13.000000,19.000000,40.000000,63.000000,127.000000,236.000000

## PIR and plus-minus

In [6]:
data[['pir', 'plus_minus']].sum(axis=1).sort_values(ascending=False).head(19)

name
Dzanan Musa          316
Matt Costello        295
Ante Tomic           280
Chris Jones          272
Edy Tavares          264
Vincent Poirier      260
Darius Thompson      243
Daulton Hommes       231
Jasiel Rivero        231
Jeff Withey          231
David Kravish        228
Maik Kotsar          226
Dylan Osetkowski     226
Henry Ellenson       224
Marc Gasol           217
Sasu Salin           217
Nico Laprovittola    214
Ludde Hakanson       211
Jan Vesely           211
dtype: int64

## Offensive players

In [7]:
(
    data[
        ['points', 
         'offensive_rebounds', 
         'assists', 
         'received_faults', 
         '3p_converted', 
         '2p_converted', 
         '1p_converted',
         'plus_minus']
    ].sum(axis=1) - 
    data[
        ['3p_attempted', 
         '2p_attempted', 
         '1p_attempted',
         'turnovers',
         'received_blocks'
        ]
    ].sum(axis=1)
).sort_values(ascending=False).head(19)

name
Dzanan Musa          296
Matt Costello        256
Chris Jones          251
Ante Tomic           242
Vincent Poirier      241
Daulton Hommes       229
Darius Thompson      223
Edy Tavares          218
Jasiel Rivero        208
Nico Laprovittola    206
Sasu Salin           206
Maik Kotsar          204
Dylan Osetkowski     201
Henry Ellenson       198
David Kravish        198
Jan Vesely           194
Jeff Withey          193
Ludde Hakanson       192
Miquel Salvó         185
dtype: int64

## Deffensive players

In [8]:
(
    data[
        ['deffensive_rebounds', 
         'steals', 
         'blocks', 
         'plus_minus']
    ].sum(axis=1) - data['faults']
).sort_values(ascending=False).head(19)

name
Petr Cornelie        143
Matt Costello        138
Vincent Poirier      131
Dzanan Musa          130
Edy Tavares          124
David Kravish        124
Mario Hezonja        121
Daulton Hommes       115
Henry Ellenson       114
Maik Kotsar          112
Tadas Sedekerskis    111
Dylan Osetkowski     104
Sasu Salin           101
Jeff Withey           99
Joel Parra            97
Nihad Djedovic        95
Tim Abromaitis        93
Nikola Kalinic        91
Aaron Doornekamp      87
dtype: int64

## Team players

In [9]:
(data['plus_minus'] + data['minutes'] / 2 - data['pir']).sort_values(ascending=False).head(19)

name
Petr Cornelie       155.5
Fabien Causeur      117.0
Arturs Kurucs       117.0
Guillem Vives       112.5
Kendrick Perry      112.5
Sasu Salin          112.0
Aaron Doornekamp    110.0
Adam Smith          107.5
Tim Abromaitis      107.0
Elgin Cook          106.0
Tyler Kalinoski     102.5
Daulton Hommes       96.5
Xavi Rabaseda        96.0
Pep Busquets         93.5
Bruno Fitipaldo      92.0
Joan Sastre          91.0
AJ Slaughter         90.0
Henry Ellenson       90.0
Nihad Djedovic       86.5
dtype: float64

## Assists by turnover

In [10]:
((data['assists'] + 1) / (data['turnovers'] + 1)).sort_values(ascending=False).head(19)

name
Simon Birgander     10.000000
Guillem Jou          6.000000
Darius Thompson      3.291667
Rudy Fernández       3.000000
Tomás Bellas         3.000000
Jasiel Rivero        3.000000
Kendrick Perry       3.000000
Edgar Vicedo         3.000000
Iván Cruz            3.000000
Rokas Jokubaitis     2.950000
Dani Pérez           2.875000
Sergio Llull         2.769231
Guillem Vives        2.764706
Chris Jones          2.680000
Dani Díez            2.666667
Jovan Novak          2.611111
Alberto Díaz         2.588235
Ludde Hakanson       2.521739
Thomas Scrubb        2.500000
dtype: float64

## Up in the air

In [11]:
(
    data['dunks'] + data['blocks'] - data['received_blocks'] + data['2p_converted'] - data['2p_attempted']
).sort_values(ascending=False).head(19)

name
Tryggvi Hlinason           25
Marcus Lee                 10
Matt Costello               8
Petit Niang                 7
Musa Sagnia                 6
Víctor Arteaga              4
Denzel Andersson            3
Kyle Alexander              3
Olek Balcerowski            3
Rubén López De La Torre     2
Luka Brajkovic              2
David Iriarte               2
Zsombor Maronka             1
Martinas Geben              1
Justin Hamilton             1
Osas Ehigiator              1
Edy Tavares                 1
Guillem Ferrando            0
Bassala Bagayoko            0
dtype: int64

## Greedy

In [12]:
(
    data[['3p_attempted', '2p_attempted', 'turnovers', 'received_blocks']].sum(axis=1) - 
    data[['assists','plus_minus']].sum(axis=1)
).sort_values(ascending=False).head(19)

name
Jerrick Harding       299
Dusan Ristic          241
Thomas Bropleh        212
Lasan Kromah          209
Shannon Evans         208
Jeremy Senglin        203
BJ Johnson            201
Kameron Taylor        188
Máximo Fjellerup      184
Cristiano Felicio     182
Jeremiah Hill         179
Justinian Jessup      174
Santi Yusta           173
Dairis Bertans        172
Prince Ali            167
Clevin Hannah         153
Christian Mekowulu    151
Jordan Davis          146
Tyson Pérez           143
dtype: int64