# Selecci√≥n

Playing with the new stats format in acb.com (launched in October 2019)

In [1]:
import pandas as pd

In [2]:
season = 2022
urls = [
    'http://www.acb.com/estadisticas-individuales/{}/temporada_id/{}/tipo_id/0'.format(x, season)
    for x in 
    [
        'valoracion', 
        'puntos', 
        'rebotes', 
        'asistencias', 
        'robos', 'tapones', 
        'mas-menos', 
        'minutos', 
        'tiros3', 
        'tiros3-porciento',
        'tiros2', 
        'tiros2-porciento',
        'tiros1', 
        'tiros1-porciento',
        'rebotes-defensivos',
        'rebotes-ofensivos',
        'faltas-recibidas',
        'faltas-cometidas',
        'mates'
    ]
]

In [3]:
data = pd.concat([pd.read_html(url)[0].iloc[:, 1:] for url in urls], axis=0).drop_duplicates()

In [4]:
data.columns = [
    'name', 'games', 'minutes', 'points',
    '3p_converted', '3p_attempted', '3p_percentage',
    '2p_converted', '2p_attempted', '2p_percentage',
    '1p_converted', '1p_attempted', '1p_percentage',
    'offensive_rebounds', 'deffensive_rebounds', 'rebounds',
    'assists', 'steals', 'turnovers',
    'blocks', 'received_blocks',
    'dunks', 'faults', 'received_faults',
    'plus_minus', 'pir'
]
data = data.set_index('name')

In [5]:
data.describe()

,games,minutes,points,3p_converted,3p_attempted,2p_converted,2p_attempted,1p_converted,1p_attempted,offensive_rebounds,...,assists,steals,turnovers,blocks,received_blocks,dunks,faults,received_faults,plus_minus,pir
count,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,...,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000
mean,22.023148,422.231481,176.569444,19.458333,55.240741,43.768519,80.953704,30.657407,41.129630,19.921296,...,36.120370,15.027778,26.685185,5.754630,5.296296,5.796296,41.837963,42.726852,6.893519,188.064815
std,7.849421,199.178994,102.436707,17.718683,46.325214,31.170680,55.091026,22.771938,29.439601,16.379747,...,36.444215,10.071335,17.072566,8.467721,3.966744,8.480083,20.602701,27.840817,96.878263,118.333763
min,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-252.000000,-5.000000
25%,19.000000,272.250000,109.750000,4.000000,13.750000,18.000000,34.750000,13.000000,20.000000,7.000000,...,10.000000,7.000000,15.000000,1.000000,2.000000,0.000000,27.750000,24.000000,-53.500000,102.750000
50%,25.000000,454.500000,180.000000,15.000000,51.000000,38.500000,78.000000,27.000000,39.000000,16.000000,...,23.500000,13.500000,25.000000,3.000000,5.000000,2.000000,43.000000,39.500000,-8.500000,183.000000
75%,28.000000,566.000000,240.250000,31.000000,89.000000,64.250000,120.000000,42.250000,55.250000,28.000000,...,47.500000,22.000000,37.000000,7.000000,8.000000,9.000000,55.250000,62.000000,75.000000,266.750000
max,29.000000,829.000000,433.000000,81.000000,220.000000,156.000000,285.000000,129.000000,145.000000,87.000000,...,191.000000,57.000000,81.000000,53.000000,22.000000,45.000000,88.000000,120.000000,241.000000,510.000000

## PIR and plus-minus

In [6]:
d2 = data[['pir', 'plus_minus']].sum(axis=1).sort_values(ascending=False)

In [24]:
d2.drop([
    'Dzanan Musa', 'Edy Tavares', 'Matt Costello', 'Giorgi Shermadini', 'Nico Laprovittola', 'Ante Tomic',
    'Nico Brussino', 'Maik Kotsar', 'Kendrick Perry', 'Tomas Satoransky', 'Ethan Happ', 'Aaron Doornekamp',
    'David Kravish', 'Chris Jones', 'Andres Feliz', 'Vincent Poirier', 'Marcelinho Huertas', 'Dylan Osetkowski',
    'Jasiel Rivero', 'Gabriel Deck', 'Markus Howard', 'Rokas Giedraitis', 'Henry Ellenson', 'Kameron Taylor',
    'Olek Balcerowski', 'Jan Vesely', 'Andrew Albicy', 'John Shurna', 'Tyson Carter', 'Rokas Jokubaitis',
    'Bojan Dubljevic', 'Sertac Sanli', 'Thomas Scrubb', 'Nemanja Radovic', 'Mario Hezonja', 'Tryggvi Hlinason',
    'Jeff Withey', 'Nikola Kalinic', 'Nihad Djedovic',
    'Sasu Salin', 'Simon Birgander', 'Guerschon Yabusele', 'Khalifa Diop', 'Petr Cornelie', 'Tyler Kalinoski',
    'Tadas Sedekerskis', 'Daulton Hommes', 'Bruno Fitipaldo', 'Tim Abromaitis', 'Volodymyr Gerun', 
    'Damien Inglis', 'Petit Niang', 'Scott Bamforth', 'AJ Slaughter', 'Will Thomas', 'Adam Smith',
    'Elgin Cook', 'Travis Trice', 'Melvin Ejim', 'Toni Nakic', 'Fabien Causeur', 'Phil Scrubb', 'Shannon Evans',
    'Ludde Hakanson', 'Thad McFadden', 'Howard Sant-Roos', 'Artem Pustovyi',
    'James Webb III', 'Christian Mekowulu', 'Kyle Guy', 'Alex Renfroe', 'Justinian Jessup', 'Oscar Da Silva',
    'Vanja Marinkovic',
    'Dragan Bender', 'Emir Sulejmanovic', 'Borisa Simanic', 'Stefan Jovic', 'Nigel Williams-Goss',
    'Steven Enoch', 'Devin Robinson', 'Martinas Geben', 'Arturs Kurucs',
    'Pierria Henry', 'Nemanja Nenadic', 'Marek Blazevic',
    'James Anderson', 'Kassius Robertson',
    'Justus Hollatz', 'Juampi Vaulet',
    'Dusan Miletic', 'James Nnaji',
    'Kyle Kuric',
    'Jerrick Harding',
    'Darius Thompson', 'Jonah Radebaugh',
    'Jovan Novak',
    'BJ Johnson'
        ]).head(24)

name
Marc Gasol              440
Joel Parra              434
Nikola Mirotic          427
Jaime Fern√°ndez         372
Dar√≠o Brizuela          343
Alberto D√≠az            309
Quino Colom             293
Miquel Salv√≥            282
Xabi L√≥pez-Arostegui    269
Guillem Vives           263
Tyson P√©rez             255
Fran Guerra             252
Santi Yusta             247
√Ålex Abrines            243
Sergio Rodr√≠guez        225
Ferran Bassas           224
Dani D√≠ez               204
Pau Ribas               202
Sergi Garc√≠a            197
Sergio Llull            186
Guillem Jou             174
Eric Vila               159
√Ålex Reyes              145
V√≠ctor Arteaga          139
dtype: int64

## Selecci√≥n

B Ricky Rubio
BE Lorenzo Brown
EB Jaime Fern√°ndez
E Dar√≠o Brizuela
EA Xabi L√≥pez-Arostegui
AE 
A  Miquel Salv√≥
AAP Joel Parra
APA Juancho Hernang√≥mez
AP Tyson P√©rez
APP Aldama
PAP Garuba
P Willy Hernang√≥mez

B Ricky Rubio
BE Alberto D√≠az
EB Lorenzo Brown
E Jaime Fern√°ndez
EA Xavi Rabaseda
AE 
A Joel Parra 
AAP Miquel Salv√≥
APA Santi Yusta
AP Juancho Hernang√≥mez
APP Aldama
PAP Garuba
P Willy Hernang√≥mez